---
# This is the main SASS file.
---
@charset "utf-8";

$base-font-family: 'Orbitron', sans-serif;
$base-font-size:   16pt;
$small-font-size:  $base-font-size * 0.875;
$large-font-size:  $base-font-size * 1.25;
$base-line-height: 1.0;

$spacing-unit:     30px;

$text-color:       #fff;
$background-color: #266E7C;

$on-palm:          600px;
$on-laptop:        800px;

$images-base-url:  "/images";


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@mixin vendor-prefix-custom($name, $arg1, $arg2) {
  -webkit-#{$name}: #{$arg1}, -webkit-#{$arg2};
  -ms-#{$name}: #{$arg1}, -ms-#{$arg2};
  -moz-#{$name}: #{$arg1}, -moz-#{$arg2};
  -o-#{$name}: #{$arg1}, -o-#{$arg2};
  #{$name}: #{$arg1}, #{$arg2};
}

@import "base","layout";