*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  line-height: 1.45;
  color: #000;
  background-color: #fff
}

a {
    color: #428bca;
    text-decoration: none;
    background: transparent;
}

a:hover,
a:focus {
    color: #2a6496;
    text-decoration: underline
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

a:focus {
    outline: thin dotted
}

a:active,
a:hover {
    outline: 0
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5em 0;
  text-align: start;
  font-family: inherit;
  font-weight: 300;
  line-height: 1.1;
  color: inherit;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 2.15em;
}

h3 {
  font-size: 1.7em;
}

p, pre, pre.prettyprint, blockquote {
  margin: 0 0 1.1em;
}

.container {
  text-align: justify;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 180px;
  padding-left: 15px;
  padding-right: 15px;
}

.container:after {
  clear: both
}

@media (min-width: 768px) {
    .container {
        width: 750px
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}

ol {
    margin-top: 0;
    margin-bottom: 10.5px
}
ul ul,
ol ul,
ul ol,
ol ol {
    margin-bottom: 0
}