---
layout: default
---
<div id="charms">
  <div id="github" class="charm"><a href="https://github.com/{{ site.github_username }}"></a></div>
  <div id="twitter" class="charm"><a href="https://twitter.com/{{ site.twitter_username }}"></a></div>
  <div id="stackoverflow" class="charm"><a href="http://stackoverflow.com/users/{{ site.stackoverflow_userid }}/{{ site.stackoverflow_username }}"></a></div>
</div>

<div id="links">
  <h2><a href="{{ site.base_url }}/talks/Continuous-Delivery-as-a-Service.html">Talk: Continuous Delivery as a Service →</a><h2>
  <h2><a href="{{ site.blog_url }}">Read my blog →</a><h2>
</div>


<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date }}</span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>