---
layout: snags
title: Snag Lists
date: 2015-10-11 17:00
---

<h2>Remaining Snags</h2>
<section>
<!-- {% increment snagsCounter %} -->
{% for area in site.data.snags_remaining %}
  <section class="area">
    <h4>{{ area.area }}</h4>
    <ol>
{% for todo in area.todo %}
      <li value="{% increment snagsCounter %}">{{ todo }}</li>
{% endfor %}
    </ol>
  </section>
{% endfor %}
</section>

<h2>Lists</h2>
{% for list in site.data.snags sort_by:date order:descending %}
{% assign slug = list.date | slugify | prepend: "list-"  %}
<section>
  <h3><a name="{{ slug }}" href="#{{ slug }}">#</a> List: {{ list.date | date: '%B %d, %Y %r' }}</h3>
  <header>
    <p class="meta">
      By {{ list.author }} to {{ list.to }}
    </p>  
  </header>
{% for area in list.list %}
  <div class="area">
    <h4>{{ area.area }}</h4>
    <ul class="todo">
{% for todo in area.todo %}
      <li>&#9744; {{ todo }}</li>
{% endfor %}
    </ul>
    <ul class="completed">
{% for item in area.completed %}
      <li>&#9745; {{ item }}</li>
{% endfor %}
    </ul>
  </div>
{% endfor %}
</section>
{% endfor %}
