body {
  background-color: $background-color;
  font-family: $base-font-family;
  color: white;
}

.home {
  max-width: 600px;
  height: 300px;
  padding: 12% 0 0;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
}

#charms {
  max-width: 600px;
  height: 200px;
}

#twitter {
  background-image: url(/images/Twitter_logo_white_120px.png);
  background-repeat: no-repeat;
  background-position: center;
}

#github {
  background-image: url(/images/GitHub-Mark-Light-120px-plus.png);
  background-repeat: no-repeat;
  background-position: center;
}

#stackoverflow {
  background-image: url(/images/stackoverflow-logo-white.png);
  background-repeat: no-repeat;
  background-position: center;
}

.charm {
  float: left;
  width: 200px;
  height: 200px;
}

.charm:hover {
  transition: box-shadow 0.5s ease;
  box-shadow: 0px 0px 5px #fff;
}

.charm a {
  display: inline-block;
  width: 200px;
  height: 200px;
}