#page {
  position: absolute;
  top: 50%;
  margin-top: -136px;
  left: 0;
  width: 100%;
}

#content {
  max-width: 624px;
  margin-left: auto;
  margin-right: auto;
  height: 272px;

  text-align: center;
  text-transform: uppercase;
}

h1 {
  font-size: 34pt;
  letter-spacing: 20px;
  text-shadow: 0px 0px 10px #fff;
  margin: 0px 0px 10px 0px;
}

#charms {
  max-width: 624px;
  height: 208px;
}

#twitter {
  background-image: url(/images/Twitter_logo_white_120px.png);
  background-repeat: no-repeat;
  background-position: center;
}

#github {
  background-image: url(/images/GitHub-Mark-Light-120px-plus.png);
  background-repeat: no-repeat;
  background-position: center;
}

#stackoverflow {
  background-image: url(/images/Stackoverflow-logo-white.png);
  background-repeat: no-repeat;
  background-position: center;
}

.charm {
  float: left;
  width: 200px;
  height: 200px;
  margin: 4px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -kthtml-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.charm:hover {
  -webkit-box-shadow: 0px 0px 30px 0px #fff;
  -moz-box-shadow: 0px 0px 30px 0px #fff;
  box-shadow: 0px 0px 30px 0px #fff;

  background-color: rgba(255, 255, 255, 0.1);
}

.charm a {
  display: inline-block;
  width: 200px;
  height: 200px;
}