<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.description }}">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/bower_components/pure/pure-min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/manni.css" | prepend: site.baseurl }}">
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="bower_components/pure/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="{{ "/bower_components/pure/grids-responsive-min.css" | prepend: site.baseurl }}">
  <!--<![endif]-->
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="css/blog-old-ie.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="{{ "/css/blog.css" | prepend: site.baseurl }}">
  <!--<![endif]-->
  {% if site.developer == true %}
  <script type="text/javascript">
  var disqus_developer = 1;
  </script> 
  {% endif %}
</head>
<body>
<div id="layout" class="pure-g">
  <div class="sidebar pure-u-1 pure-u-lg-1-4">
    <div class="header">
      <h1 class="brand-title"><a href="{{ "/" | prepend: site.baseurl }}">{{ site.title }}</a></h1>
      <h2 class="brand-tagline">{{ site.tagline }}</h2>
  
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="pure-button" href="{{ "/split-sms/" | prepend: site.baseurl }}">split-sms</a>
          </li>
          <li class="nav-item">
            <a class="pure-button" href="{{ "/esandex/" | prepend: site.baseurl }}">Esandex</a>
          </li>
          <li class="nav-item">
            <a class="pure-button" href="{{ "/push-broker/" | prepend: site.baseurl }}">Push-Broker</a>
          </li>
          <li class="nav-item">
            <a class="pure-button" href="http://push-codesleuth.rhcloud.com/">Esendex-Push</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  
  <div class="content pure-u-1 pure-u-lg-3-4">
    <div>
      
{{ content }}

      <div class="footer">
        <div class="pure-menu pure-menu-horizontal">
          <ul>
            <li class="pure-menu-item"><a href="http://codesleuth.co.uk/" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="https://twitter.com/{{ site.twitter_username }}" class="pure-menu-link">Twitter</a></li>
            <li class="pure-menu-item"><a href="https://github.com/{{ site.github_username }}" class="pure-menu-link">GitHub</a></li>
            <li class="pure-menu-item"><a href="http://stackoverflow.com/users/{{ site.stackoverflow_userid }}/{{ site.stackoverflow_username }}" class="pure-menu-link">Stack Overflow</a></li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
</div>
{% include analytics.html %}
</body>
</html>
