---
layout: default
---

<div class="notes">
  
  <section class="post">
    <header class="post-header">
  
      <h2 class="post-title">{{ page.title }}</h2>
  
      <p class="post-meta">
        By <span class="post-author">{{ page.speaker.name }}</span>
        on <time itemprop="dateCreated" datetime="{{ page.date }}">{{ page.date | date: '%H:%M %A, %e %B, %Y' }}</time>
      </p>
    </header>
  
    <div class="post-description">
      {{ content }}
    </div>
  </section>
</div>